altair
attrs
Babel
beautifulsoup4
blinker
cached-property
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cryptography
cycler
decorator
docopt
docutils
ebaysdk
fonttools
freezegun
geoip2
gevent
gitdb
GitPython
greenlet
h11
idna
isodate
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
libsass
lxml
markdown-it-py
MarkupSafe
matplotlib
maxminddb
mdurl
num2words
numpy
ofxparse
outcome
packaging
paho-mqtt
pandas
passlib
Pillow
platformdirs
plotly
polib
protobuf
psutil
psycopg2
psycopg2-binary
pyarrow
pycparser
pydeck
pydot
Pygments
pyOpenSSL
pyparsing
PyPDF2
pypiwin32
pyscopg2
pyserial
PySocks
python-dateutil
python-stdnum
pytz
pyusb
pywin32
qrcode
referencing
reportlab
requests=
requests-file
requests-toolbelt
rich
rjsmi
rpds-py
scikit-learn
scipy
selenium
six
smmap
sniffio
sortedcontainers
soupsieve
streamlit
streamlit-card
streamlit-kpi
tenacity
threadpoolctl
toml
toolz
tornado
trio
trio-websocket
typing_extensions
tzdata
urllib3
vobject
watchdog
Werkzeug
wsproto
xlrd
XlsxWriter
xlwt
zeep
zope.event
zope.interface
